*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background: #DEDEDE;
  color: #5a6674;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

/*--------------------
App
--------------------*/
.search-form {
  position: relative;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  background: #fff;
  transition: all 0.3s ease;
}
.search-form.focus {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.search-input {
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 195px;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;
}
.search-input::-webkit-search-cancel-button {
  appearance: none;
}

.search-button {
  position: absolute;
  top: 10px;
  left: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}

.search-option {
  position: absolute;
  text-align: right;
  top: 10px;
  right: 15px;
  border-radius: 45px;
}

.func-manage {
    margin: 10px;
    padding: 5px;
    width: 100px;
}